h1 {
    color: teal;
}

h1:hover {
    color: orchid;
    font-size: 3rem;
    text-decoration: underline;
}

div {
    text-align: center;
}

img {
    width: 50%;
}

.todo {
    font-size: 2.5rem;
    font-weight: 600;
}

.done {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: line-through;
    opacity: 50%;
}

.chinita {
    width: 20%;
}

